.popover-box {
  width: 280px;
  border-radius: 2px;
  background: rgb(44, 48, 51);
  box-shadow: 2px 2px 10px rgb(102, 102, 102);
  padding: 14px;
  position: relative;
}

.popover-box::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  top: -4px;
  left: 50%;
  position: absolute;
  border-bottom: 8px solid rgb(44, 48, 51);
  transform: translate(-50%, -50%);
}
